
.btn {
    padding: 10px 22px;

    &.btn-sm {
        padding: 6px 10px;
    }
    &.btn-lg {
        padding: 12px 28px;
    }
}

#wrapwrap header .navbar .navbar-nav .nav-item > .dropdown-menu .dropdown-item {
    padding: 8px 14px;

    &:before {
        content: '';
        margin: 0;
    }
}

.o_footer_copyright .js_language_selector {
    .dropdown-toggle {
        padding: 3px 16px;
    }
}

.nav-link {
    padding: 3px 14px;
    border: 2px solid rgba(0, 0, 0, 0);
    font-weight: 500;
    border-radius: 0;
    text-transform: uppercase;
    color: #FFF !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.68rem + 2px);
    padding: 0.34rem 0.8rem;
        padding-right: 0.8rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #19325B;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #151515;
    background-color: #FFFFFF;
    border-color: #3469bf;
    outline: 0;
    box-shadow: none;
}
